@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Righteous&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .inset-x-center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .inset-y-center {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}