@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=PT+Serif:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Quicksand:wght@300;400;500;600;700&family=Righteous&family=Rubik:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .placeholder-style::placeholder {
    padding: 5px 12px;
    margin: 5px;
  }

  .admitere {
    background: #8344ff;
  }

  .bacalaureat {
    background: #ec615b;
  }

  .olimpiada {
    background: #0CB346;
  }
}

/* width */
::-webkit-scrollbar {
  width: 12px;
  /* display: none; */
  background-color: #F5F5F5;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  /* border-radius: 10px; */
  background-color: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* border-radius: 10px; */
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #a0aec0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}

li.active > a {
  color: #460fb3;
}

li > a:hover {
  color: #460fb3;
}

.lang-menu {
  width: 100px;
  text-align: right;
  font-weight: bold;
  margin-top: 25px;
  position: relative;
}
.lang-menu .selected-lang {
  display: flex;   
  justify-content: space-between;
  line-height: 2;
  cursor: pointer;
}

.lang-menu ul {
  margin: 0;
  padding: 0;
  display: none;
  background-color: #fff;
  border: 1px solid #f8f8f8;
  position: absolute;
  top: 45px;
  right: 0px;
  width: 125px;
  border-radius: 5px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}


.lang-menu ul li {
  list-style: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.lang-menu ul li a {
  text-decoration: none;
  width: 125px;
  padding: 5px 10px;
  display: block;
}

.lang-menu ul li:hover {
  background-color: #f2f2f2;
}

.lang-menu ul li a:before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
}

.lang-menu:hover ul {
  display: block;
}

/* Markdown Styles */
/* Headers */
.markdown h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.markdown h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.markdown h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 8px;
}

.markdown h4 {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 8px;
}

.markdown h5 {
  font-size: 0.875rem;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 8px;
}

.markdown h6 {
  font-size: 0.75rem;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 8px;
}

/* Code */
.markdown code {
  font-family: monospace;
  /* background-color: #f5f5f5; */
  padding: 2px 4px;
  border-radius: 3px;
}

.markdown blockquote {
  margin: 0;
  padding-left: 1.4rem;
  position: relative;
}

.markdown blockquote::before {
  content: '';
  position: absolute;
  left: 0;
  width: 4px;
  height: 100%;
  background: #dadada;
  border-radius: 2px / 4px;
}

/* .math-display {
	background-color: #1D1F21;
  color: red;
	padding: 1rem;
	border-radius: 0.25rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
} */

/* Strong (bold) */
.markdown strong {
  font-weight: bold;
}

/* Underline */
.markdown u {
  text-decoration: underline;
}
