@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=PT+Serif:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Quicksand:wght@300;400;500;600;700&family=Righteous&family=Rubik:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .placeholder-style::placeholder {
    padding: 5px 12px;
    margin: 5px;
 }

  .admitere {
    background: #8344ff;
  }

  .bacalaureat {
    background: #ec615b;
  }

  .olimpiada {
    background: #0CB346;
  }
}